<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation.ejs') %> 
    <main>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach(p => { %>
                    <li>
                        <p>
                            <%= p.title %> (<%= p.cartItem.quantity %>)
                        </p>
                        <form method="POST" action="/cart-delete-item">
                            <input type="hidden" value="<%= p.id %>" name="productId">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                        
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            Cart is empty
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>